@model NoticiasMVC.Models.RegistrosDto
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>IdNoticias</th>           
            <th>Titulo</th>
            <th>Fecha</th>
            <th>NombreCategoria</th>
            <th>NombrePais</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.noticiasModel) { 
        <tr>
            <td>@item.IdNoticias</td>
            <td>@item.Titulo</td>
            <td>@item.Fecha</td>
            <td>@item.NombreCategoria</td>
            <td>@item.NombrePais</td>
        </tr>
        }
    </tbody>

</table>
